article{
	background: greenyellow;
	border: 2px solid black;
	color: black;
	margin:20px 5px;
	padding:15;
	text-align: center;
	-o-transition:all 5s linear;
	-ms-transition:all 5s linear;
	-webkit-transition:all 5s linear;
	-moz-transition:all 5s linear;
	transition:all 5s linear;


	width: 400px;
}
article p{
	font: 30px Tahoma;
	font-weight: bold;
	width: 100%;
}
/*Cuando pasamos el mouse por encima*/
article:hover{
	height: 400px;
	width: 800px;
}

article:hover{
	background: black;
	color: greenyellow;
	/*Mover 150 pixeles a la derecha y 300 abajo*/
	-o-transform: translate(150px,150px) scale(2.3) skew(10deg,10deg);
	-ms-transform: translate(150px,150px) scale(2.3) skew(10deg,10deg);
	-webkit-transform: translate(150px,150px) scale(2.3) skew(10deg,10deg);
	-moz-transform: translate(150px,150px) scale(2.3) skew(10deg,10deg);
	transform:  translate(150px,150px) scale(2.3) skew(10deg,10deg);
}






















